lib
dist
external
public/cards/
data/*
!data/face-boxes.json
/Server/
deploy.sh
deploy.tar.gz
deploy_tmp/
publish.cmd
image.png
weight/*
!weight/best.pt
screenshots/*.tmp.*

node_modules
__pycache__/
*.pyc
npm-debug.log
yarn-debug.log
yarn-error.log
tsconfig.tsbuildinfo

.eslintcache
.DS_Store
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
