POSTGRES_DB=umami
POSTGRES_USER=umami
POSTGRES_PASSWORD=REPLACE_WITH_STRONG_POSTGRES_PASSWORD

APP_SECRET=REPLACE_WITH_LONG_RANDOM_SECRET

UMAMI_HOST=127.0.0.1
UMAMI_PORT=3000

UMAMI_PUBLIC_URL=https://stats.xtbang.top
SITE_PUBLIC_URL=https://xtbang.top

ALLOWED_FRAME_URLS=https://xtbang.top
